.search_bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding:10px
}

.search_bar form {
    display:flex;
    flex-direction: column;
}

.search_bar label{
    text-align: center;
}